{% extends 'base.html' %}
<p></p>
{% block content %}
<h1 class="mt-4">My TODO List</h1>
<a href="{{ url_for('add') }}" class="btn btn-primary mb-3">Add TODO</a>
<div>
    <input type="text" id="search-box" class="form-control" placeholder="Search todos..."/>
</div>
<ul class="list-group">
  {% for todo in todos %}
  <li class="list-group-item d-flex justify-content-between align-items-center" data-search-text="{{ todo.title.lower() }}">
    {{ todo.title }}
    <a href="{{ url_for('delete', id=todo.id) }}" class="btn btn-danger btn-sm"
      >Delete</a
    >
    <a href="{{ url_for('move', id=todo.id, direction="up") }}" class="btn btn-sm"
      >Move up</a>
      <a href="{{ url_for('move', id=todo.id, direction="down") }}" class="btn btn-sm"
      >Move down</a>
  </li>
  {% endfor %}
</ul>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById('search-box').addEventListener('input', function() {
            const searchText = this.value.toLowerCase();
            const todoItems = document.querySelectorAll('.list-group li.list-group-item');
            todoItems.forEach(function(item) {
                const itemText = item.getAttribute('data-search-text');

                if (itemText.includes(searchText)) {
                    item.classList.remove('d-none');
                } else {
                    item.classList.add('d-none');
                }
            });
        });
    });
    </script>
{% endblock %}
